<div class="movie-card">
  <div>
    <div class="movie-badge" [ngClass]="{ 'show-more': showMore }">
      <span *ngIf="movie.Nominated" class="material-icons">grade</span>

      <h2>{{ movie.Title }} {{ movie.Year }}</h2>

      <span
        class="material-icons expand"
        (click)="expandCard()"
        *ngIf="!showMore"
      >
        expand_more
      </span>
      <span
        class="material-icons expand"
        (click)="expandCard()"
        *ngIf="showMore"
      >
        expand_less
      </span>
    </div>
    <img
      *ngIf="movie.Poster != 'N/A'"
      [src]="movie.Poster"
      [ngClass]="{ 'show-img': showMore }"
    />
  </div>

  <button
    [disabled]="disable || (movie.Nominated && buttonAction == 'Nominate')"
    (click)="toggle()"
  >
    {{ buttonAction }}
  </button>
</div>
