<div class="movies-list" [ngClass]="{ 'movie-list-light': lightTheme, 'movie-list-dark': !lightTheme }">
  <h1 *ngIf="!search">Search for Movies to Nominate</h1>
  <h1 *ngIf="search">Search Results for " {{ search }} "</h1>
  <div *ngIf="movies$ | async as m">
    <div *ngIf="m.Response == 'True'">
      <div *ngFor="let movie of m.Search">
        <app-movie-card
          [movie]="movie"
          (pressed)="addtoNominations(movie)"
          [buttonAction]="'Nominate'"
          [lightTheme]="lightTheme"
          [disable]="(nominations$ | async)?.length >= 5"
        ></app-movie-card>
      </div>
    </div>
    <div *ngIf="m.Response == 'False'">
      <h2 style="color: red" *ngIf="m.Error != 'Incorrect IMDb ID.'">
        {{ m.Error }}
      </h2>
    </div>
  </div>
</div>
