<div
  class="nominations-list"
  *ngIf="nominations$ | async as n"
  [ngClass]="{
    'nominations-list-light': lightTheme,
    'nominations-list-dark': !lightTheme
  }"
>
  <h1>Nominations</h1>
  <div *ngFor="let nomination of n">
    <app-movie-card
      [lightTheme]="lightTheme"
      [movie]="nomination"
      (pressed)="remove(nomination)"
      [buttonAction]="'Remove'"
      [disable]="false"
    ></app-movie-card>
  </div>
  <div class="button-div">
    <button (click)="createLink()" *ngIf="n.length > 0">
      {{ button }}
    </button>
  </div>
</div>
