.nominations-list {
  width: calc(100% -20px);
  margin-bottom: 2.2rem;
  min-height: 40vh;
  padding: 10px;
  transition-timing-function: ease-in;
}

.nominations-list-light {
  background-color: #e8ecff;
  color: #051021;
  button {
    background-color: #fff86a59;
    border: solid 1px #fff76a;
    color: #051021;
  }
  button:disabled {
    background-color: #dfdfdf;
    color: #838383;
    border: solid 1px #ffffff;
  }
}

.nominations-list-dark {
  background-color: #051021;
  color: white;
  button {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #fff76a;
  }
  button:disabled {
    cursor: default;
    color: #083378;
    border: solid 1px #083378;
  }
}
button {
  align-self: center;

  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  height: 40px;
  cursor: pointer;
  border-radius: 16px;
  transition-duration: 1s;
  outline: none;
}
button:hover {
  color: #fff76a;
}
